<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yidong.dao.AdminDaoInf">

    <select id="loginAdmin" parameterType="yidong.vo.admin.Admin" resultType="yidong.vo.admin.Admin">
		select * from t_admin where adminname=#{adminname} and
		adminpwd=#{adminpwd}
	</select>
    <update id="updateAdminPwd"  parameterType="yidong.vo.admin.Admin">
	   update t_admin  set
	   adminpwd=#{adminpwd}  where adminid=#{id}
	</update>


</mapper>